mixin tenantTableRow(tenant={})
  tr
    td.text-center.td-name
      a(href=`/tenants/${tenant.slug}` style='color:#E81E63') #{tenant.name}
    td.text-center #{tenant.address}
    td.td-number #{tenant.inn}
    td.td-number.text-center #{tenant.phone}
    td.text-center #{tenant.email}
    td.text-center  #{tenant.person[0].position} #{tenant.person[0].name}
    td.text-center  #{(tenant.contracts.length !== 0) ? tenant.contracts[0].district : 'Ğ½/Ğ´'}
    td.td-actions.text-center
      a.btn.btn-success.btn-link(href=`/tenants/${tenant._id}/edit`)
        i.material-icons edit
      a.btn.btn-danger.btn-link(href=`/tenants/${tenant._id}/delete`)
        i.material-icons close
    